body{
background-color:#F0EFF4;
}


/*!!! PARTIE INDEX.HTML !!!*/

.titre{
text-align: center;
margin: auto;
margin-top: 15%;
width: 80%;
}

h1{
color: #1D1E2C;
}

a{
text-decoration: none;
}

.custom-btn {
  margin-top: 5%;
  width: 250px;
  height: 65px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  text-decoration: none;
}

.btn-6 {
  background: rgb(247,150,192);
background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
  line-height: 42px;
  border: none;
}
.btn-6 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-6:before,
.btn-6:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
 box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}

.btn-6:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

.btn-6:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}

.btn-6:hover{
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}

.btn-6:hover:before {
  transition: all 500ms ease;
  height: 100%;
}

.btn-6:hover:after {
  transition: all 500ms ease;
  height: 100%;
}

.btn-6 span:before,
.btn-6 span:after {
  position: absolute;
  content: "";
  box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}

.btn-6 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}

.btn-6 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}

.btn-6 span:hover:before {
  width: 100%;
}

.btn-6 span:hover:after {
  width: 100%;
}

/*!!! PARTIE AJOUT.HTML !!!*/

.ajoeuvre{
    margin:auto;
    width:80%;

}


/*!!! PARTIE LISTE_OEUVRE.HTML !!!*/
.listeo{
    margin:auto;
    margin-top: 5%;
    width:80%;
}

/*!!! PARTIE UPDATE_OEUVRE.HTML !!!*/
.upo{
    margin: auto;
    width: 80%;
}


/*!!! PARTIE AJOUT_ARCHITECTE.HTML !!!*/

/*!!! PARTIE UPDATE_ARCHITECTE.HTML !!!*/
.upa{
    margin: auto;
    margin-top: 5%;
    width: 80%;
}
/*!!! PARTIE LISTE_ARCHITECTE.HTML !!!*/

.listea{
    margin: auto;
    margin-top: 5%;
    width: 80%;
}