

/*!!! PARTIE INDEX.HTML !!!*/

.titre{
text-align: center;
margin: auto;
margin-top: 15%;
width: 80%;
}

h1{
color:blue;

}

/*!!! PARTIE AJOUT.HTML !!!*/



/*!!! PARTIE LISTE_OEUVRE.HTML !!!*/


/*!!! PARTIE UPDATE_OEUVRE.HTML !!!*/

/*!!! PARTIE AJOUT_ARCHITECTE.HTML !!!*/



/*!!! PARTIE UPDATE_ARCHITECTE.HTML !!!*/
