{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="ajoeuvre">
    <section class="tetu">
    <h3>Page d'ajout d'une nouvelle oeuvre</h3>
    </section>

    </br>

    <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-sm-4 col-md-10">
                    {{ form.nom|as_crispy_field }}
                </div>
                <div class="form-group col-sm-4 col-md-10">
                    {{ form.creation|as_crispy_field }}
                </div>
            </div>

			<div class="form-row">
                <div class="form-group col-sm-4 col-md-10">
                    {{ form.localisation|as_crispy_field }}
                </div>
            </div>

			<div class="form-row">
                <div class="form-group col-sm-4 col-md-10">
                    {{ form.type_oeuvre|as_crispy_field }}
                </div>
            </div>

			<div class="form-row">
                <div class="form-group col-sm-4 col-md-10">
                    {{ form.architecte|as_crispy_field }}
                </div>
            </div>
        <br></br>
        <button type="submit" class="btn btn-success">Ajouter l'architecte</button>
    </form>

</div>
{% endblock %}