{% extends 'base.html' %}


{% block content %}

<div class="listea">
    <h2>La liste des architectes</h2>
    </br>
    <ul>
    {% for architecte in liste_architecte%}

        <div class="card">
          <div class="card-header">
            {{ architecte }}
          </div>
          <div class="card-body">
            <ul>
                <li>{{architecte.style}}</li>
                <p> </p>
                <a href="{%url 'Uparchi' architecte.id%}" type="button" class="btn btn-primary"> Update </a> <a href="{%url 'Delarchi' architecte.id %}" type="button" class="btn btn-danger"> Delete </a>
            </ul>

          </div>
        </div>

        <br></br>

    {% empty %}
    Votre base de données est vide ! <a href="{% url 'Ajarchi' %}"> Ajouter le premier architecte</a>.
    {% endfor %}
    </ul>
</div>

{% endblock %}