{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="upa">
    <h2>Mettre à jour l'architecte {{architecte}} </h2>
    <br></br>

    <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-sm-6 col-md-4">
                    {{ form.archit|as_crispy_field }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-6 col-md-4">
                    {{ form.style|as_crispy_field }}
                </div>
            </div>

        <br></br>
        <input class="btn btn-success" type="submit" value="Mettre à jour l'oeuvre">
        <a class="btn btn-outline-danger" href="{% url 'Architecte' %}">Annuler</a>

    </form>

</div>

{% endblock %}