{% extends 'base.html' %}

{% load crispy_forms_tags %}


        {% block content %}
<div class="upo">
    <h3>Mettre à jour l'architecte {{architecte}} </h3>
    </br>

   <form method="post">
            {% csrf_token %}
                    {{ form.nom|as_crispy_field }}

                    {{ form.creation|as_crispy_field }}

                    {{ form.localisation|as_crispy_field }}

                    {{ form.type_oeuvre|as_crispy_field }}

                    {{ form.architecte|as_crispy_field }}

        <br></br>
        <input class="btn btn-success" type="submit" value="Mettre à jour l'oeuvre">
        <a class="btn btn-outline-danger" href="{% url 'Lioeuvre' %}">Annuler</a>

  </form>

</div>
        {% endblock %}